<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Plugin" type="#org.jetbrains.idea.devkit.run.PluginConfigurationType">
    <module name="idea-run-typescript" />
    <option name="VM_PARAMETERS" value="-Xmx512m -Xms256m -ea" />
    <option name="PROGRAM_PARAMETERS" value="" />
    <alternative-path path="IDEA jdk" alternative-path-enabled="true" />
    <predefined_log_file enabled="true" id="idea.log" />
    <method v="2">
      <option name="Make" enabled="true" />
      <option name="BuildArtifacts" enabled="true">
        <artifact name="idea-run-typescript:jar" />
      </option>
    </method>
  </configuration>
</component>